body {
    background-color: lightblue;
    display: flex; /* or inline-flex */
    flex-direction: column;
    margin: 0;
}

.title {
    margin: auto;
}

.projects {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
}

.projects * {
    margin: auto;   
    min-width: 100px;
    margin-top: 5px;
}

.projects div {
    border: 1px solid gray;
}

.categories {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

.categories * {
    margin: auto;
}

h1, h3 {
    margin: auto;
}

img {
    margin: auto;
}

nav {
    margin-bottom: 10px;
}

nav li {
    float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightskyblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#user_projects {
    display: flex; /* or inline-flex */
    flex-direction: row;
    margin: auto;
}

.user_projects_category {
    border: 1px solid gray;
    padding: 5px;
    background-color: lightslategray;
    cursor: pointer;
    margin: 2px;
}
.user_projects_category:hover {
    background-color: lightskyblue;
}
