body {
    background-color: lightblue;
    display: flex; /* or inline-flex */
    flex-direction: column;
    margin: 0;
}

h1 {
    margin: auto;
}

img {
    margin: auto;
}

nav {
    margin-bottom: 10px;
}

nav li {
    float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightskyblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}