$def with (login_form, friends)

<head>
    <title>Friends</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">

</head>

<body>

    <h1>Friends</h1>

    <img src="static/friends.jpeg" alt="Friends">
    
    <br>
    <br>
    <a href="register">Become A Friend!</a>

    <h3>Log In</h3>
    <form method="POST">
        $:login_form.render()
    </form> 

    $if session.username:
        <h1>Logged in as $session.username</h1>
        <a href="logout">Logout</a>

        <h3>Registered friends:</h3>
            <ul>
                $for user in friends:
                    <li id="user[0]">$user[1]</li>
            </ul>

</body>