$def with (nav, categories, projects)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>
</head>

<body>

    $:nav
    
    <h1 class="title">Open Projects:</h1>
    
    <div id="categories">
        $for category in categories:
            <div class="category" onclick="location.href='/?categoryid=$category[0]'">$category[1]</div>
    </div>

    <div class="projects">
        $for project in projects:
            <div class="project"><h4>$project[3]</h4><p>$project[4]</p></div>
    </div>

    <img src="static/honeybee.png" alt="Honeybee">


</body>