$def with (nav, project, tasks, permissions)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>

</head>

<body>
    
    $:nav
    <h1>Project View</h1>

    $if len(project):
        <h2>Title: $project[3]</h2>
        <p>Description: $project[4]</p>
        <p>Status: $project[5]</p>

        <ul>
            $for task in tasks:
                <li id="$task[0]">$task 
                    <br>
                    $if project[5] != "open" or session.userid == project[2]:
                    
                        $for filename in get_task_files(task[0]):
                            <a href="$filename[0]" download>$filename[0].split("/")[-1]</a>
                            <br>
                        
                        <form method="POST" enctype="multipart/form-data" action="">
                            <input type="file" name="myfile" />
                            <br/>
                            <input type="hidden" name="taskid" value="$task[0]"/>
                            $if session.userid != project[2]:
                                $if task[6] == "waiting for delivery" or task[6] == "declined":
                                    <input type="submit" name="submit"/>
                                $if permissions[2]:
                                    <button type="submit" name="deliver" value="1">Deliver</button>
                            $if session.userid == project[2] and task[6] == "delivered":
                                    <button type="submit" name="acceped" value="1">Accept Delivery</button>
                                    <button type="submit" name="declined" value="1">Decline Delivery</button>
                        </form>
                </li>
        </ul>

    $if project[5] == "open" and session.userid != project[2]:
        <div id="apply" onclick="location.href='/apply?projectid=$project[0]'" name="Apply" description="apply">Apply for this project</div>


            
</body>