$def with (nav, project, tasks)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>

</head>

<body>
    
    $:nav
    <h1>Project View</h1>

    $if len(project):
        <h2>Title: $project[3]</h2>
        <p>Description: $project[4]</p>
        <p>Status: $project[5]</p>

        <ul>
            $for task in tasks:
                <li id="$task[0]">$task 
                    <br>                
                    <form method="POST" enctype="multipart/form-data" action="">
                        <input type="file" name="myfile" />
                        <br/>
                        <input type="hidden" name="taskid" value="$task[0]"/>
                        <input type="submit" name="submit"/>
                    </form>
                </li>
        </ul>

        <img src="static/honeybee.png" alt="Honeybee">


            
</body>