$def with (login_form, friends)

<head>
    <title>Friends</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles/stylesheet.css">

</head>

<body>

    <h1>Friends</h1>

    <img src="static/images/friends.jpeg" alt="Friends">

    <h3>Login, or become a friend!</h3>

    <form method="POST">
        $:login_form.render()
    </form> 

    
    $if session.username:
        <h1>Logged in as $session.username</h1>
        <a href="logout">Logout</a>

        <h3>Registered friends:</h3>
            <ul>
                $for name in friends:
                    <li id="t$name.userid">$name.username</li>
            </ul>
    

</body>
